{% extends 'home.html' %}
{% block body_block %}
<div class="log_con">
    <div class="row">
        <div class="col-lg-4 sqr_con">
            <div class="sqr">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="name" class="logInp1" placeholder="Username"><br>
                    <input type="text" name="email" class="logInp2" placeholder="Email"><br>
                    <input type="password" name="password" class="logInp2" placeholder="Password"><br>
                    <input type="password" name="cpassword" class="logInp2" placeholder="Confirm Password"><br>
                    
                    <input type="submit" value="SignUp" class="logInp3">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}