{% extends 'home.html' %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-lg">
        {% if validlink %}
        <h4>Set New Password</h4>
        <form method="POST">
            {% csrf_token %}
            New Password : <input type="text" name="new_password1">
            Confirm Password : <input type="text" name="new_password2">
            <input type="submit" value="change password">
        </form>

<h2>Your Password has been reset.You may go ahead and login now</h2>
<a href="{% url 'login' %}">LOG IN</a>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}